---
const { title, url, pubDate } = Astro.props
import FormattedDate from '../components/FormattedDate.astro';
---

<li><a href={url}>{title}</a><span class="date"><FormattedDate date={pubDate}/></span></li>


<style>
    .date{
        position: absolute;
        left: 65%;
        color: rgb(128, 128, 128);
    }
</style>